@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>

    @*<footer class="page-footer font-small elegant-color-dark">
        <div class="container text-center py-4">
            <h6>Site em constru&ccedil;&atilde;o.</h6>
            <h6>Um dia eu termino.</h6>
        </div>
        <div class="footer-copyright text-center py-3">
            Desenvolvido por
            <a href="https://github.com/Logikoz/">Logikoz</a>
        </div>
    </footer>*@
</div>