<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Logikoz.Net</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link waves-effect" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home " aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link waves-effect" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> Sobre
            </NavLink>
        </li>
    </ul>
    <a class="btn blue-gradient btn-lg btn-block waves-effect" target="_blank" href="https://github.com/Logikoz/me">GitHub</a>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
