@page "/about"

<section class="section">

    <div align="center">
        <h2>
            <em>C# the best</em>
        </h2>
    </div>

    <div align="center">
        <p>Ruan Carlos CS</p>
        <p>Sou um jovem procrastinador estudante de engenharia elétrica e apaixonado por programação e eletrônica.</p>
        <p>E-Mail: <a href="mailto:ruancarlos14@hotmail.com">ruancarlos14@hotmail.com</a></p>
    </div>
</section>
