@page "/"

<section class="section">

    <div class="text-center">
        <h2>
            <em>C# the best</em>
        </h2>
    </div>
    @{ string uri = "https://avatars0.githubusercontent.com/u/37851168";}
    <div class="text-center">
        <a href="@uri" target="_blank">
            <img src="@uri" width="250" height="300" title="Doguinho lindo." />
        </a>
    </div>

    <div class="text-center text-capitalize">
        <h3>Logikoz</h3>
    </div>
</section>
